*.class
Thumbs.db
.DS_Store
Icon
?
.cache
.gradle/

.idea/*
!.idea/codeStyleSettings.xml
!.idea/gradle.xml
!.idea/vcs.xml
!.idea/dataSources.xml
!.idea/dataSources.local.xml
!.idea/findbugs-idea.xml
!.idea/checkstyle-idea.xml
!.idea/encodings.xml
!.idea/compiler.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/modules/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
